@import 'frappe-ui/src/fonts/Inter/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.prose-f {
		@apply
		break-all
		max-w-none
		prose
		prose-code:break-all
		prose-code:whitespace-pre-wrap
		prose-img:border
		prose-img:rounded-lg
		prose-sm
		prose-table:table-fixed
		prose-td:border
		prose-td:border-outline-gray-2
		prose-td:p-2
		prose-td:relative
		prose-th:bg-surface-gray-2
		prose-th:border
		prose-th:border-outline-gray-2
		prose-th:p-2
		prose-th:relative
	}
}

.p-breadcrumb{
	padding: 0px !important;
}

.router-link-active{
	color: #007bff !important;
}


::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}